html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
} 
header{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}
header > h1{
    margin: 0;
    height: 70%;
    text-align: center;
    font-size: 2vmax;
    background-color: chartreuse;
    /* 100vh 의 25퍼센트의 70퍼센트를 구해보면 
       25(%) /100 * 70(%) = 17.5 이렇게 되는것으로 추정됨
    */
    line-height: 17.5vh; 
    

}
header > div {
    display: flex;
    height: 30%;
}

header >div > div:nth-last-of-type(1){
    width: 66.66%;
}
header > div > form{
    width: 33.33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > div > form > input[type='text']{
    width: 70%;
}
header > div > form > button{
    width: 30%;
}

article{
    width: 100%;
    height: 75%;
    background-color: antiquewhite;
    display: flex;
}
article > div:first-of-type{
    width: 70%;
    height: 100%;    
    background-color: aquamarine;
    overflow: hidden;
}
article > div:first-of-type > p{
    font-size: 1.3vmax;
    
}
article > div:nth-of-type(2){
    width: 30%;
    height: 100%;
    background-color: blue;
}
article > div:nth-of-type(2) > ul {
    margin: 0;
    height: 100%;
    color: white;
    font-size: 2vmax;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
article > div:nth-of-type(2) > ul > li {
    
}
footer{
    width: 100%;
    height: 25%;
    background-color: blueviolet;
}

@media (max-width: 480px) {
    html{
         font-size: 62.5%;
    }
    body{
        width: 100vw;
        height: 100vh;
        margin: 0;
    } 
    header{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
    }
    header > h1{
        margin: 0;
        height: 70%;
        text-align: center;
        font-size: 2vmax;
        background-color: chartreuse;
        line-height: 17.5vh; 
    }
    header > div {
        display: flex;
        height: 30%;
        
    }
    
    header >div > div:nth-last-of-type(1){
        width: 66.66%;
    }
    
    header > div > form{
        width: 33.33%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header > div > form > input[type='text']{
        width: 70%;
    }
    header > div > form > button{
        width: 30%;
    }
    article{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 75%;
        background-color: antiquewhite;
    }
    article > div:first-of-type{
        width: 100%;
        height: 90%;
        background-color: aquamarine;
        overflow: hidden;
    }
    article > div:first-of-type > p{
        font-size: 1.3vmax;
        
    }
    article > div:nth-of-type(2){
        width: 100%;
        height: 10%;
        background-color: blue;
    }
    article > div:nth-of-type(2) > ul {
        height: 100%;
        color: white;
        font-size: 2vmax;
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    article > div:nth-of-type(2) > ul > li {
        
    }
    footer{
        width: 100%;
        height: 25%;
        background-color: blueviolet;
    }
}
